/*detail.css*/
/*
@font-face {
	font-family: AmericanTypewriter;
	src: url('../fonts/AmericanTypewriter.ttc');
}

 p {
	font-family: AmericanTypewriter;	
}
*/

#searchResults {
    list-style: none;
}

.searchCell {
    border-top-style:dotted;
    border-top-width: thin;
    border-top-color: #999;
    transition: 250ms ease-in-out;
    padding: 10px;
}

.searchCell:hover {
    background: #ccc;
    transform: scale(1.05);
}