/* results.css */

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans Bold";
    src: url("../fonts/OpenSans-Semibold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/OpenSans-Light.ttf");
}


@font-face {
	font-family: "RobotoCondensed";
	src: url('../fonts/RobotoCondensed-Regular.ttf');
}


* { 
    margin: 0;
    padding: 0;
}

*:hover,
*:focus {
    outline: 0;
}
/* db purple #434884  */

body {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    font-family: "RobotoCondensed", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

#toolbar {
/*    display: inline-block;*/
/*    width: 100%;*/
    height: 90px;
    background: #434884;
    padding: 18px;
}

#logo {
    float: left;
    vertical-align: bottom;
}

.search_field {
    padding-left: 25px;
    width: 100%;
    color: white;
    border: none;
    border-color: transparent;
    background: transparent;
    font-size: 36px;
    font-family: "Open Sans Light", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    vertical-align: bottom;
    background: url("../img/close-button.png") no-repeat right 0 center;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    opacity: 0;
}

.span_right {
    display: block;
    overflow: hidden;
    margin: auto;
}

.vert_align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

hr {
    color: #716969;
    border-style: solid;
    border-color: #ebebeb;
}

.results-container {
    margin: auto;
    width: 80%;
}

#filters {
    overflow: hidden;
    list-style-type: none;
    margin-top: 30px;
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#filters li {
    float: left;
    color: #9e9e9e;
    font-size: 16px;
}

#results {
    width:80%;
    margin:auto;
    margin-top: 70px;
}

.results-div {
    margin-top: 26px;
    color: #818181;
    font-family: "RobotoCondensed", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.results-div li {
    display: inline-block;
    font-size: 14px;
    margin-right: 12px;
}

.results-div ul {
    margin-top: 32px;
/*    overflow:scroll;*/
}

.results-hlist {
    margin-bottom: 66px;
}

.results-title {
    font-size: 14px;
    color: #333;
    font-style: bold;
    margin-top: 4px;
}

.results-sub-title {
    font-size: 14px;
    color: #8e8c8c;
    margin-top: 4px;
}

.results-songs {

}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav a{
    color: #9e9e9e;
    position: relative;
	display: inline-block;
    margin: 15px;
	outline: none;
	text-decoration: none;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

nav a:hover,
nav a:focus {
	outline: none;
}


.hover-effect a {
	padding: 0 0 10px;
}

.hover-effect a {
    transition: color 0.3s ease-out;
}

.hover-effect a:hover{
    color: #434884;
}

.hover-effect a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #434884;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.hover-effect a:hover::after,
.hover-effect a:focus::after {
	height: 5px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

